
.snake-game {
    text-align: center;
  }
  
  .snake-game p {
    font-size: 1.5rem;
    color: #633399;
  }
  
  .snake-game h1 {
    margin: auto;
    padding: 1rem;
    font-size: 2rem;
    max-width: 600px;
    background-image: linear-gradient(to right, #AF40FF, #5B42F3 40%, #00DDEB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .snake-game .game-board {
    margin: auto;
    position: relative;
    width: 500px;
    height: 550px;
    border: 2px solid rgb(102, 51, 153);
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    
  }
  
  .snake-game .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .snake-game .cell {
    width: 20px;
    height: 20px;
    border-radius: 25%;
  }
  
  .snake-game .snake {
    border-radius: 30%;
    background-color: rgb(4, 64, 3);
  }
  
  .snake-game .food {
    clip-path: circle(50% at 50% 50%);
    background-color: rgb(255, 0, 0);
  }
  
  .snake-game button {
    align-items: center;
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    font-family: Phantomsans, sans-serif;
    font-size: 1.2rem;
    padding: 10px 15px;
    margin: 0.5rem;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    min-width: 110px;
  }
  
  .snake-game button:active,
  .snake-game button:hover {
    outline: 0;
  }
  
  .snake-game .dialog {
    justify-content: center;
    align-items: center;
    position: fixed;
    color: #f8f8f8;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgb(221, 203, 241);
    z-index: 999;
  }
  
  .snake-game .reset {
    margin-top: 10%;
  }
  
  .snake-game .control {
    position: fixed;
    top: 20%;
    left: 5%;
  }
  