#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-container {
  position: relative; 
  margin: 0;
  padding: 0;
}

nav {
  position: fixed; 
  top: 20px; 
  right: 30px; 
  z-index: 1000; 
  list-style: none;
  display: flex;
}

li {
  display: flex; 
  list-style: none; 
  gap: 15px; 
  margin: 0;
  padding: 10px;
  display: inline-block; 
}

.nav-item a {
  text-decoration: none; 
  font-size: 18px;       
  color: transparent;          
  transition: color 0.3s ease; 
}

.nav-item a:hover {
  color: #0078d7; 
}